<div id="tudo body-contet">

    <div>
  
      <div id="tudo2" class="filter-border">
  
        <div class="card-login">
  
          <div class="card-login-header">
            <h1>
              Página não encontrada!
            </h1>
          </div>

          <div class="card-login-content">
  
            <mat-card>
              <img src="./../assets/img/Error_circle.png" alt="">
              <br> 
              <label>Página não encontrada ou sua sessão expirou, por favor tente entrar novamente!</label>
            </mat-card>
  
            <br>
            <br>
  
            <div class="card-log-actions">
              <button mat-button primary color="primary" routerLink="/login">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Voltar
              </button>
            </div>
  
            <br>
            <br>
          </div>
  
        </div>
      </div>
    </div>
  </div>
