<mat-dialog-content>

  <div>
    <mat-toolbar>
      Documentos obrigatórios
    </mat-toolbar>
    <br>

    <div>

      <div>
        <ul mai-line>
          <ul class="documents-title">
            <li>
              <h4>Cedente - Pessoa Jurídica (PJ)</h4>
            </li>
          </ul>
          <ul class="documents-item">
            <li>Formulário de TRASS (Assinado pelo (s) Representante Legal (is))</li>
            <li>Documento da Empresa registrado em Órgão Competente (Assinado pelo (s) Representante Legal (s))</li>
            <li>Procuração (quando assinado pelo Procurador)</li>
            <li>RG e CPF do Procurador (Assinado pelo Procurador)</li>
            <li>Documento da Empresa (Assinado pelo Procurador)</li>
          </ul>
        </ul>
      </div>

      <div>
        <ul mai-line>
          <ul class="documents-title">
            <li>
              <h4>Cedente Falecido - Pessoa Fisíca (PF)</h4>
            </li>
          </ul>
          <ul class="documents-item">
            <li>Certidão de Óbito (Assinado pelo (s) Herdeiros))</li>
            <li>RG e CPF dos Herdeiros (Assinado pelo (s) Herdeiros)</li>
            <li>Certidão de Óbito (Sem Assinatura dos Herdeiros)</li>
            <li>Alvará Judicial (Sem Assinatura dos Herdeiros)</li>
            <li>G e CPF (Sem Assinatura dos Herdeiros)</li>
          </ul>
        </ul>
      </div>

      <div>
        <ul mai-line>
          <ul class="documents-title">
            <li>
              <h4>Cedente Falecido - Pessoa Jurídica (PJ)</h4>
            </li>
          </ul>
          <ul class="documents-item">
            <li>Documento da Empresa registrado em órgão competente (Assinado pelo Representante Legal e Herdeiros)</li>
            <li>Certidão de Óbito (Sem assinatura dos Herdeiros)</li>
            <li>Alvará Judicial (Sem assinatura dos Herdeiros)</li>
            <li>Documento da Empresa (Sem assinatura dos Herdeiros)</li>
          </ul>
        </ul>
      </div>

      <div>
        <ul mai-line>
          <ul class="documents-title">
            <li>
              <h4>Cessionário - Pessoa Fisíca (PF)</h4>
            </li>
          </ul>
          <ul class="documents-item">
            <li>RG e CPF do Cessionário (Assinado pelo Cessionário)</li>
            <li>RG e CPF do Cessionário (Assinado pelo Procurador)</li>
            <li>Procuração (Assinado pelo Procurador)</li>
            <li>RG e CPF do Procurador (Assinado pelo Procurador)</li>
          </ul>
        </ul>
      </div>

      <div>
        <ul mai-line>
          <ul class="documents-title">
            <li>
              <h4>Cessionário - Pessoa Jurídica (PJ)</h4>
            </li>
          </ul>
          <ul class="documents-item">
            <li>Documento da Empresa registrado em órgão competente (Assinado pelo(s) Representante(s) Legal (is))</li>
            <li>Procuração (Assinado pelo Procurador)</li>
            <li>RG e CPF do Procurador (Assinado pelo Procurador)</li>
            <li>Documento da Empresa (Assinado pelo Procurador)</li>
          </ul>
        </ul>
      </div>

    </div>

  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>