package ${packageName}.client;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.slf4j.MarkerFactory;

import java.util.Collections;
import java.util.Map;

import org.springframework.http.ResponseEntity;
import org.springframework.stereotype.Component;
import org.springframework.web.client.RestTemplate;

import ${packageName}.dto.${domainClass}RequestDto;
import ${packageName}.dto.${domainClass}ResponseDto;

@Component
public class ${domainClass}RestClient {

	private static final Logger LOGGER = LoggerFactory.getLogger(${domainClass}RestClient.class);

	public void post() {
		final RestTemplate restTemplate = new RestTemplate();

		final ResponseEntity<${domainClass}ResponseDto> responseEntity = restTemplate //
				.postForEntity("http://localhost:8080/${projectPrefix}", //
						${domainClass}ResponseDto //
								.builder() //
								.build(),
						${domainClass}ResponseDto.class);

		LOGGER.info(MarkerFactory.getMarker("CLIENT"), "m=doLogin, responseEntity={}", responseEntity);
	}
	
	public void get() {
		final RestTemplate restTemplate = new RestTemplate();

		final Map<String, String> uriVariable = Collections.emptyMap();
		
		final ResponseEntity<${domainClass}ResponseDto> responseEntity = restTemplate //
				.getForEntity("http://localhost:8080/user", //
						${domainClass}ResponseDto.class, uriVariable);

		LOGGER.info(MarkerFactory.getMarker("CLIENT"), "m=doLogin, responseEntity={}", responseEntity);
	}
}
